.donations-list {
    padding: 30px 100px;
    h1 {
        margin-bottom: 30px;
    }
    .view-school {
        tr {
            td {
                border: 1px solid #eee;
                text-align: center;
                padding: 12px;
            }
        }
        thead {
            background: $c1;
            tr {
                td {
                    &:nth-child(1) {
                        width: 35%;
                    }
                    &:nth-child(2) {
                        width: 20%;
                    }
                    &:nth-child(3) {
                        width: 15%;
                    }
                    &:nth-child(4) {
                        width: 20%;
                    }
                    &:nth-child(5) {
                        width: 10%;
                    }
                }
            }
        }
    }
}

.pr-donate-new{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px;
    
    .sidebar-donate-blk, .school-metric{
        background-color: #fff;
        border-radius: 0;
        box-shadow: 2px 2px 2px rgba(0,0,0,.1);
        padding: 10px;
        h3{
            background-color: #337ab7;
            margin: 0;
            padding: 10px 15px;
            color: white;
            text-align: left;
        }
        .list-style{
            margin: 0;
            margin-top: 10px;
            a{
                font-size: 15px;  
                font-weight: 500;
            }
            li{
                padding: 10px 0;
                margin: 0;
            }
        }
    }
}







// Steps Related Sassbody 

.pr-steps{
    background-color: #fff;
    background-color: #fff;
    padding: 10px !important;
    border-radius: 0;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    border: 1px solid #ddd;
    
    .stepwizard{
        background-color: #def0ff;
        padding: 50px !important;
    }   
    
    .buttons-panel{
        padding: 20px;
        display: block;
        overflow: hidden;
        .btn{
            border-radius: 0;
        }
    }
    
    .setup-content{
       min-height: 530px !important;
        padding-top: 215px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    input[type = text], select{
        padding: 10px !important;
        border-radius: 0 !important;
        height: auto;
    }
    
  
    fieldset{
        margin-bottom: 30px;
        label{
            margin-left: 10px;
        }
    }
    
    .divDonarDetails{
        background-color: #eee;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 50px;
        .row{
            width: 60%;
        }
    }
    .error{
        color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
            width: 100%;
    margin-top: -10px;
    margin-bottom: 15px;
    padding: 5px;
    padding-left: 10px;
    font-size: 13px;
    }
    
}
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 65px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 92%;
    height: 1px;
    background-color: #aaa;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 25%;
    p{
        color: #000;
        font-size: 14px;
        font-weight: bold;
    }
    a{
        opacity: 1 !important;
    }
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center !important;
    padding: 6px 0 !important;
    font-size: 12px !important;
    line-height: 1.428571429 !important;
    border-radius: 15px !important;
}

.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:20px;
    margin:30px 0px;
    border: 1px solid #555;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 15px;
    h4{
        font-weight: bold;
    line-height: 30px;
    }
}


.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

body{
    background-color: #eee !important;
}

.dontate-form{
    margin: 50px auto;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 50px;
    border-bottom: 5px solid #bbb;
    .container{
        width: 100%;
    }
    
    table{
        border: 1px solid #ddd;
        margin: 20px 0;
        .form-group{
            margin-bottom: 0;
        }
    }
    .select-own-school{
        
    }
}

.stripe{
    background-color: #eee;
}

.mtb-20{
    margin-bottom: 20px;
    margin-top: 20px;
}





// Adopt Blocks
.adopt-left-block{
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    border: 1px solid #ddd;
    padding: 25px;
    padding-top: 75px;
    margin-bottom: 50px;
}
.causes{
    padding-top: 15px;
}

.pr-sidebar-blk{
    a{
        margin-bottom: 15px;
        display: block;
        h3{
            margin-bottom: 0;
        }
    }
}



.pr-inner-donate{
    padding: 20px;
    .col-md-12{
        padding: 0;
    }
    h5,h3{
        display: inline-block;
        margin: 0;
        height: 40px;
        line-height: 35px;
        margin-bottom: 20px;
        float: left;
    }    
    h5{
        background-color: #428bca;
        width: 20%;
        text-align: center;
        color: white;
    }
    
    h3{
        background-color: #f2f2f2;
        width: 80%;
        padding-left: 20px;
    }
    
    fieldset, #dvPackageschool{
        padding: 25px;
    }
<<<<<<< HEAD
      fieldset, #dvPackagestudent{
        padding: 25px;
    }
=======
    
>>>>>>> b68126d4129b61da6d3ac9175c22c950b4113f3d
    input[type=radio]{
        margin-right: 10px;
    }
    
    p{
        padding: 25px;
        margin: 0;
    }
    
    #dvPackageschool .col-md-6{
        height: 120px;
    }
    
    #selectedforPay1{
        width: 90%;
        margin: 0 auto;
    }
    
<<<<<<< HEAD
    
=======
    #dvPackagestudent+fieldset{
         width: 95%;
        margin: 0 auto;
    }
>>>>>>> b68126d4129b61da6d3ac9175c22c950b4113f3d
    
    .b-left{
        margin-bottom: 20px;
            border: 1px solid #c5c5c5;
    }
    .setup-content{
        .form-horizontal{
            form{
                width: 75%;
                margin: 0 auto;
            }
        }
    }
<<<<<<< HEAD
=======
    
    #dvPackagestudent{
        width: 95%;
        margin: 0 auto;
    }
    #dvPackageschool, #dvPackagestudent{
        .col-md-6{
            width: 100%;
            padding-top: 0;
            padding-bottom: 0;
            height: 87px;
        }
    }
    
    #step-2{
        .nextBtn{
            margin: 30px auto;
    float: inherit !important;
    display: inherit;
    padding: 10px 50px;
    border-radius: 0;
        }
    }
>>>>>>> b68126d4129b61da6d3ac9175c22c950b4113f3d
}















