

		.photo-gallery{

				margin-top:55px;
				
				h2{padding-left:25px; margin-bottom:5px; }
				
				
				.img-responsive{
				border:8px solid #ddd;
				box-shadow:2px 2px 2px #ddd;
				margin:10px;
				border-radius:5px;
				}
		}
		
		
	.media-modal{
		.modal-dialog{
		width:80%;
		}
	}