<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<table border="0">
	<tbody>
		<tr>
			<td>
			<table border="0" width="100%">
				<tbody>
					<tr>
						<td colspan="3"><img class="CToWUd"  style="width:100%;min-height:6px"></td>
					</tr>
					<tr>
						<td width="445"><img class="CToWUd"  align="middle" height="88" width="179"></td>
						<td width="452">
						<div align="center"><img class="CToWUd"  height="98" width="114"><br />
						Our Inspiration: Srila Prabhupada</div>
						</td>
						<td width="379">
						<div align="right"><img class="CToWUd"  style="width:179px;min-height:88px" align="middle"></div>
						</td>
					</tr>
					<tr>
						<td colspan="3"><img class="CToWUd"  style="width:100%;min-height:10px"></td>
					</tr>
					<tr>
						<td colspan="3">
						<p>Greetings!&nbsp;</p>

						<p>Your friend has shared a link with you. Find out more by clicking the link:&nbsp;</p>

						<table border="0" width="100%">
							<tbody>
								<tr>
									<td colspan="3" style="width:160px">
									<table style="width:80%" align="center" border="0" cellpadding="1" cellspacing="1">
										<tbody>
											<tr>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
											</tr>
											<tr>
												<td><strong style="font-family:sans-serif,arial,verdana,'trebuchet ms';line-height:20.7999992370605px">Referral From</strong></td>
												<td>&nbsp;<strong>:&nbsp;</strong></td>
												<td>
												<p style="line-height:20.7999992370605px"><a href="mailto:shilpakakarlapudi27@gmail.com" target="_blank">shilpakakarlapudi27@gmail.com</a></p>
												</td>
											</tr>
											<tr>
												<td><strong style="font-family:sans-serif,arial,verdana,'trebuchet ms';line-height:20.7999992370605px">Refence Url</strong></td>
												<td>&nbsp;<strong>:&nbsp;</strong></td>
												<td>
												<p style="line-height:20.7999992370605px"><a href="http://www.akshayapatra.org/events/fabs-donates-meal-delivery-van" target="_blank">www.akshayapatra.org/events/<wbr>fabs-donates-meal-delivery-van</a></p>
												</td>
											</tr>
											<tr>
												<td><strong style="font-family:sans-serif,arial,verdana,'trebuchet ms';line-height:20.7999992370605px">Message Description</strong></td>
												<td>&nbsp;<strong>:&nbsp;</strong></td>
												<td>
												<p style="line-height:20.7999992370605px">Facilities and 
Building Solutions Pvt. Ltd. (FABS) has donated a meal delivery vehicle 
to Akshaya Patra’s HK Hill kitchen on 1 August, 2015. The inauguration 
was followed by a flagging off ceremony. 

<a href="http://www.akshayapatra.org/events/fabs-donates-meal-delivery-van" target="_blank">http://www.akshayapatra.org/<wbr>events/fabs-donates-meal-<wbr>delivery-van</a></p>
												</td>
											</tr>
											<tr>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
											</tr>
										</tbody>
									</table>

									<p>&nbsp;</p>

									<p style="text-align:center"><a href="http://annualreports.akshaypatra.org/" target="_blank"><img class="CToWUd" alt="" src="Shared%20About%20Akshaya%20Patra%20Foundation%20-%20shilpakakarlapudi27@gmail.com%20-%20Gmail_files/xMNl591ye2qoy_k_T_5H4uDZs76tK7VFbg86a-Y7YqSI9eo_2E5PkJCloBih.jpg" style="width:305px;min-height:190px"></a></p>

									<table style="width:90%" align="center" border="0" cellpadding="1" cellspacing="1">
										<tbody>
											<tr>
												<td colspan="2">
												<p style="line-height:20.7999992370605px"><span style="line-height:1.6em">Meanwhile please stay updated with the latest news and events from The Akshaya Patra Foundation by:</span></p>

												<ul style="line-height:20.7999992370605px">
													<li>Visiting our Akshaya Patra&nbsp;<a href="http://www.akshayapatra.org/" target="_blank">website</a>&nbsp;frequently</li>
													<li>Liking our&nbsp;<a href="http://www.facebook.com/TheAkshayapatraFoundation" target="_blank">Facebook page</a>&nbsp;to engage with us</li>
													<li>Following @AkshayaPatra on&nbsp;<a href="http://www.twitter.com/akshayapatra" target="_blank">Twitter&nbsp;</a>for quick updates.</li>
												</ul>

												<p style="line-height:20.7999992370605px">&nbsp;</p>
												</td>
											</tr>
											<tr>
												<td><span style="line-height:20.7999992370605px">The Akshaya Patra Foundation © 2014</span></td>
												
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>

</body>
</html>
