body{
    background-color: #eee;
}

.dontate-form{
    margin: 50px auto;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 50px;
    border-bottom: 5px solid #bbb;
    .container{
        width: 100%;
    }
    
    table{
        border: 1px solid #ddd;
        margin: 20px 0;
        .form-group{
            margin-bottom: 0;
        }
    }
    .select-own-school{
        
    }
}

.stripe{
    background-color: #eee;
}

.mtb-20{
    margin-bottom: 20px;
    margin-top: 20px;
}